{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>

    {{ include('article_controller_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_article_controller_crud_index') }}">Retour</a>

    {{ include('article_controller_crud/_delete_form.html.twig') }}
{% endblock %}
